

/* ==========================================================================
   Faculdade de computação - UFMS
   ========================================================================== */

/*
==========================
    UFMS navbar default
==========================
*/

/* Elementos padrões */

a {
    color: rgb(42, 100, 150);;
    text-decoration: none;
}

a:focus {
    outline: 2px solid rgb(255, 191, 71);
    text-decoration: none;
}


/*
=========================
topo-fixo
=========================
*/

.topo-fixo {
    background: none repeat scroll 0% 0% rgb(40, 74, 117);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 45px;
    top: 0px;
    z-index: 1030;
    padding: 5px;
}

.topo-fixo a:hover {
    opacity:0.8;
    filter:alpha(opacity=80);
    
}

/*
=======================
topo-principal
=======================
*/

.topo-principal {
    //background-color: rgb(150,69,118); 
    //background-color: rgb(11,12,12);
    background-color: #FDB525;
    padding: 40px 20px 35px 20px;
    border-bottom: 6px solid rgb(204, 204, 204);
}

.topo-principal p, h4 {
    font-family: "Open Sans";
    font-weight: 500;
    color: #FFF;
}

.topo-principal img {
    font-family: "Open Sans";
    font-weight: 500;
    color: #FFF;
}


.topo-buscar.form-control {
    margin: 0px !important;
    transition: none;
}

.topo-buscar input, button {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -o-border-radius: 0 !important ;
    border-radius: 0 !important;
    border: 0 !important;
}

.topo-buscar button.buscar-botao {
    position: absolute;
    z-index: 4;
    right: 10px;
    top: 0px;
}

.topo-buscar input:focus, button:focus {
    outline: 3px solid rgb(255, 191, 71);
    box-shadow: none !important;
}

.logo-principal small {
    color: #FFFFFF;
}

@media(max-width:767px){
    .pet-descricao-big {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    
     .logo-secundaria {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
}

@media(min-width:768px){
    .pet-descricao-big {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    
    .logo-secundaria {
        visibility: visible;
    } 
}
@media(min-width:992px){    
    .pet-descricao-short {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    
    .pet-descricao-big {
        visibility: visible;
        width: auto;
        height: auto;
    }
    
    .logo-secundaria {
        visibility: visible;
    } 
}


/*
=============================
    navbar-principal
=============================
*/

.navbar-principal.container {
    margin: 0 -15px;
}

#menu-principal .navbar {
    background: none repeat scroll 0% 0% #FFFFFF;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    min-height:0px !important;
    margin: 0px;
}

.navbar .navbar-nav > li > a {
    //color: #660033;
    color: #0B0C0C;
    padding: 5px 10px 5px 10px ;
    border-bottom: #FFFFFF 2px solid;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #0B0C0C;
    border-bottom: 2px #281702 solid;
    background-color: #FFFFFF !important;
}
.navbar .navbar-nav > .active > a, 
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    background-color: #FFFFFF;
    color: #0B0C0C;
    border-bottom: 2px #281702 solid;
}
.navbar .navbar-nav > .open > a, 
.navbar .navbar-nav > .open > a:hover, 
.navbar .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: #FFFFFF;
}
.navbar .navbar-nav > .dropdown > a .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.navbar .navbar-nav > .dropdown > a:hover .caret,
.navbar .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.navbar .navbar-nav > .open > a .caret, 
.navbar .navbar-nav > .open > a:hover .caret, 
.navbar .navbar-nav > .open > a:focus .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.navbar .navbar-toggle {
    border-color: #FFFFFF;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #FFFFFF;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
@media (max-width: 767px) {
    .navbar .navbar-nav .open .dropdown-menu > li > a {
        color: #FFFFFF;
    }
    .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #FFFFFF;
    }
}

/*
======================
dividir-menu <hr />
======================
*/
.dividir-menu {
    padding: 0px 0px 3px 0px;
    margin: 0px;
    color: #660033;
}

.conteudo-principal{
    margin-top: 20px;
}

.conteudo-principal p {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 0.9em;
}

.conteudo-principal h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    color: #000102;
}

.conteudo-principal h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    text-decoration: underline;
}

.conteudo-menu {
    border-left: 1px #CCC solid;
    padding-bottom:  30px ;
}

.menu li, ul {
        list-style: none;
        margin: 0 !important;
        padding: 5px !important;
}

.menu li {
        border-bottom: 1px #eee solid;
}

.menu a, a:hover {
    color: rgb(11, 12, 12);
}

/*
=======================
Notícias
=======================
*/

#titulo-noticia {
    text-decoration: none;
}

#titulo-noticia a {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: rgb(40, 74, 117);
    font-size: 0.9em;
}

#titulo-noticia a:hover {
    color: #222;
    text-decoration: none;
}

#data-noticia {
    font-weight: 700;
}

.noticia-unica {
    border-top: 1px #CCC dotted;
}

.noticia-mais {
}

/*
==========================
footer
==========================
*/

.rodape-capivaras {
    background: rgb(40, 74, 117) url('../img/capivaras-rodape.png') repeat-x;
    padding-bottom: 40px;
}
.rodape {
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 1.0em;
    background: rgb(40, 74, 117);
    padding: 40px 25px 25px 25px;
}

.rodape-info {
    /*border-left: 2px #162d50 solid;*/
    
}